* {
  font-family: "Inter", sans-serif;
  
  box-sizing: border-box;
  margin: 0;
  padding: 0;

}

html {
  --bg-color: hsl(0, 0%, 100%);
  --bg-pattern-color: hsl(225, 100%, 98%);
  --text-color: black;
  --card-bg-color: hsl(227, 47%, 96%);
  --text-main: hsl(228, 12%, 44%);

  --toggle-color: hsl(230, 22%, 74%);




}

html[data-theme="dark"] {
  --bg-color: hsl(230, 17%, 14%);
  --bg-pattern-color: hsl(232, 19%, 15%);
  --text-color: white;
  --card-bg-color: hsl(228, 28%, 20%);
  --text-main: hsl(228, 34%, 66%);
  --toggle-color: linear-gradient(90deg, hsl(210, 78%, 56%) , hsl(146, 68%, 55%));


}

html {
  font-size: 14px;
  color: var(--text-color);
  background: linear-gradient(
    var(--bg-pattern-color) 245px,
    var(--bg-color) 245px,
    var(--bg-color) 1000px);
    height: 100%;
  

}

body {
  max-width: 1140px;
  margin: auto;
}

header {
 
 margin: 38px 13px;
  height: 46px;
  clear: both;
}

#mode-switcher {
  transform: translateY(-2.7em);
  float: right;
  color: var(--text-main);
  line-height: 26px;
  font-size: 1.1em;
}

.darkmode-switch {
    background: var(--toggle-color);
    display: inline-block;
    width: 50px;
    height: 26px;
    border-radius: 5em;
    cursor: pointer;
    margin-left: 2px;
    position: relative;

  }

  .switch {
    background-color: var(--card-bg-color);
    width: 20px;
    height: 20px;
    position: relative;
    top: 3px;
    left: -14px;
    border-radius: 2em;
    display: inline-block;
    transition-duration: 700ms;
    transition-timing-function: ease-in-out;
  }

  .darkmode-switch:hover {
    background:  linear-gradient(90deg, hsl(210, 78%, 56%) , hsl(146, 68%, 55%));
  }

  #darkmode:checked + .switch {
    left: 10px;

  }


   #darkmode {
     visibility: hidden;
     opacity: 0;
    
   }

header p{
  color: var(--text-main);
}
h1 {
  font-size: 2em;
}
h2 {
  letter-spacing: 0.075em;
  padding-top: 33px;
  padding-left: 16px;
  padding-bottom: 11px;
}

article {
  background-color: var(--card-bg-color);
  border-radius: 5px;
}
.follower {
  margin: auto;
  width: 100%;
}

.today {
  margin: auto;
  width: 100%; 
  
}

.today article {
  float: left;
  display: block;
  height: 120px;
  width: 255px;
  margin: 15px;
  padding: 26px 32px 0px 22px;
  text-align: center;
  
}

.description span {
  float: left;
}
.description img {
  float: right;
}

.follower article {
  border-top-width: 5px;
  border-top-style: solid;
  float: left;
  display: block;
  height: 215px;
  width: 255px;
  margin: 15px;
  padding: 20px;
  text-align: center;
}

.follower article p {
  padding: 6px;
}

.follower article a {
  font-size: 1em;
  font-weight: 700;
  text-decoration: none;
  color: var(--text-main);
}

.follower img {
  transform: translateY(0.35em);
}

.number {
  font-size: 4em;
  font-weight: 700;
}

.number-type {
  font-size: 1em;
  font-weight: 400;
  text-transform: uppercase;
  color: var(--text-main);
}

.number-today{
  font-size: 0.9em;
  font-weight: 700;
  padding-top: 20px;
}

/*just a quck and dirty fix */
.today div {
  clear:both; 
  padding: 10px;
}
span.number-today {
  float: right;
}
.up {
  color: hsl(163, 72%, 41%);
}

.up::before {
  content: "";
  display: inline-block;
  background-image: url(images/icon-up.svg);
  background-repeat: no-repeat;
  background-position-y: 70%;
  width: 10px;
  height: 0.9em;
}

.down {
  color: hsl(356, 69%, 56%);
}

.down::before {
  content: "";
  display: inline-block;
  background-image: url(images/icon-down.svg);
  background-repeat: no-repeat;
  background-position-y: 70%;
  width: 10px;
  height: 0.9em;
}

h2 {
  clear: both;
  color: var(--text-main);
}



.twitter {
  border-color: hsl(195, 100%, 50%);
}

.fb {
  border-color: hsl(203, 89%, 53%);
}

div.ig {
  background: linear-gradient(to right, hsl(37, 97%, 70%), hsl(329, 70%, 58%));
  background-color: red;
  height: 210px;
  width: 255px;
  float: left;
  border-radius: 5px;
  margin: 15px;
}
.ig article {
  border-style: none;
  transform: translateY(5px);
  height: 210px;
  margin: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.yt {
  border-color: hsl(348, 97%, 39%);
}

.description {
  font-size: 1.1em;
  font-weight: 700;
  color: var(--text-main);
  
}

.today .number {
    font-size: 2.3em;
}



@media(max-width: 600px) {
 
  html {
    height: auto;
  }



 .follower, .today {
     width: 90%;
     padding: auto;
     margin: auto;
     
     
 }

 .follower article, .follower div, .today article {
    width: 100%;  
    margin-left: 0;
 }

 h2 {
    margin: auto;
    width: 90%;
    padding-left : 0;   
 }
 header {
   width: 90%;
   margin: auto;
 }

 #mode-switcher {
   width: 100%;
   border-top: 1px solid var(--text-main);
   transform: translateY(0);
   margin-top: 20px;
   padding-top: 15px;
   float: right;
   
   
   
   
 }

 header {
   margin-top: 20px;
   width: 90%;
   
  
   
 }

 .darkmode-switch {
   float: right; 
 }


 

}